*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: default;
    box-sizing: border-box;
}
body {
    background:rgb(51, 51, 51);
    color: rgb(252, 163, 17);
    font-family: 'Potta One', cursive;
    font-size: 16px;
}

.title {
    margin: 10px 10px 0 10px;
}

/* Grid */
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1em;
    width: 100vw;
}
.container-wrapper {
    position: relative;
    width: 75vmin;
}
.container-wrapper:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

/* Created grid */
.container {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
}
.grid {
    background-color: rgb(255, 255, 255);
}
.grid-lines {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.hovered {
    background: rgba(255, 255, 255, 0.123);
}

/* Options */
.options {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.options__title {
    flex: 1 1 100%;
    margin: 0 0 1rem 0;
}

.nojaniewiem {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.slider {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.color {
    display: flex;
}
.color > * {
    flex: 1 1 50%;
}
.buttons_wrapper {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-evenly;
}
.buttons_wrapper > * {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
}

