* > {
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper__options {
    text-align: center;
    flex: 1 1 100%;
}
.container-wrapper {
    position: relative;
    height: 700px;
    width: 700px;
    margin: 20px;
}
.container {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}
.grid {
    background-color: white;
}
.grid-lines {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

 @media (max-width: 800px) {
    .container-wrapper {
        height: 350px;
        width: 350px;
    }
}
@media (min-width: 1400px) {
    .container-wrapper {
        position: relative;
        height: 900px;
        width: 900px;
    }
} 
